<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{blog.user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="lightbulb">💡</span>
    <span class="badge badge-primary">{{tag}}</span>
  </p>
  <p>
    <button class="btn btn-primary">Create Your Blog Post!</button>
  </p>
</div>


